.about{
    margin: 1%;
    padding: 1%;

    .about__line{
        border-bottom: 4px solid #ff5e00;
    }
}

.about__sumarry{
    margin: 10%;
}

.about__summary-text{
    color: white;
    text-align: justify;
    font-size: 1.2rem;
}

.about__education{
    margin: 4% 1%;
}
