.projectCard{
    padding: 1%;
    width: 40%;
    height: auto;
    margin: 2% 3%;
    background-color: #151D3B;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    @media (max-width:900px) {
        width: 100%;
        height: auto;
    }
}

.projectCard__wrapper {
    // margin: 10px 0;
    width: 100%;
    // min-height: 160px;
}

.projectCard__image {
    width: 100%;
    height: 40%;
    margin: 2% 1%;
    img{
        width: 90%;
        height: 200px;
        border-radius: 5px;
        transition: transform 0.3s linear;
    }
}

.projectCard__image:hover {
    transform: scale(1.05);
}

.projectCard__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.projectCard__title {
    margin: 4% 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.projectCard__description{
    color: white;
    text-align: justify;
    margin: 4%;
}

.projectCard__buttons{
    margin: 0;
    padding: 2%;

    button{
        background-color: #8A39E1;
        color: white;
        margin: 0 4%;
        padding: 4%;
        border: 0;
        cursor: pointer;
    }
}