.app{
  margin: 0.5%;
}
// .app__container {
//   padding: 1%;
// }

.app__row {
  display: flex;
  flex-direction: row;
   @media (max-width: 900px) {
    flex-direction: column;
      .app__sidebar{
        width: 90%;
        height: 50%;
        margin: 1% 4%;
      }
      .app__maincontent{
        width: 90%;
        height: 50%;
        margin: 1% 4%;
      }
    }
}

.app__sidebar{
  width: 20%;
  height: 100%;
  margin: 0;
}

.app__maincontent{
  width: 80%;
  height: 100%;
  margin: 0;
}
 