.app{
  width: max-content;
  height: max-content;
}
.app__container {
  padding: 1%;
}

.app__row {
  display: flex;
  flex-direction: row;
   @media (max-width: 900px) {
    flex-direction: column;
      .app__sidebar{
        width: 90%;
        height: 50%;
      }
      .app__maincontent{
        width: 90%;
        height: 50%;
      }
    }
}

.app__sidebar{
  width: 20%;
  height: 100%;
}

.app__maincontent{
  width: 80%;
  height: 100%;
}
 